.home_header {
  display: flex;
  justify-content: flex-end;
}

.home_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home_content_buttons {
  display: flex;
  justify-content: space-evenly;
  column-gap: 100px;
}