.quiz_page {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}
.quiz_header {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

/*  ******************************************** */
.quiz_content {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 40px;
}

.question_title {
  color: #ffe4c4;
  font-size: 20px;
  font-family: 'Arvo', serif;
  margin-bottom: 15px;
}

.question_picture {
  width: 250px;
  height: 300px;
  border: 1px solid rgb(255, 228, 196);
  background-size: cover;
  border-radius: 30px;
  align-self: center;
}

.answers {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 10px
}