.quiz_header_status {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.quiz_content {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}