.nav_home,
.nav_categories,
.nav_settings,
.nav_categories_active {
  color: #ffe4c4;
  font-size: 16px;
  font-family: 'Arvo', serif;
  transition: 0.3s ease-in-out;
}

.nav_home {
  margin-left: 30px;
}

.nav_home,
.nav_categories {
  cursor: pointer;
}

.nav_categories:hover,
.nav_home:hover,
.nav_settings,
.nav_categories_active {
  color: #ffba66;
}

@media screen and (max-width: 600px) {
  .nav_home {
    margin-left: 5px;
  }
}