.settings_page {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.settings_header,
.settings_header_back {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings_header {
  padding-left: 30px;
  padding-right: 30px;
}

.settings_header_back {
  min-width: 120px;
}

.back_text {
  color: #f5f5dc;
  font-family: 'Arvo', serif;
}

.back_icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.back_icon {
  background-image: url('../../../assets/back-icon.svg');
}

.settings_content {
  width: 50%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}