.settings_content {
  width: 50%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}