.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.header_settings {
  width: 30px;
  height: 30px;
  margin: 30px;
  background-image: url('./assets/settings.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.main_content_header {
  color: #f5f5dc;
  text-align: center;
  font-size: 50px;
  font-family: 'Arvo', serif;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button_style {
  min-width: 200px;
  background-color: transparent;
  border: 1px solid bisque;
  color: #ffe4c4;
  font-size: 16px;
  font-family: 'Arvo', serif;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

h1 {
  color: bisque;
  text-align: center;
}